#開発用dockerファイル

version: '1.0-dev'
services:
  #データベース(postgres)
  postgres:
    image: postgres:15
    restart: always
    ports:
      - "5432:5432"   #データベース（データ入出力用）
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - .env

  minio:
    #画像保管用オブジェクトストレージ(minio)
    image: minio/minio
    restart: always
    ports:
      - "9000:9000"  # S3 API (データ転送用)
      - "9001:9001"  # Web UI (管理画面用)
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}

    command: server --console-address ":9001" /data

    volumes:
      - minio_dev_data:/data

  mc:
    #minioの初期化用クライアント
    image: minio/mc
    depends_on:
      - minio
    entrypoint: >
      /bin/sh -c "
      echo 'Waiting for MinIO to be available...';
      while ! (echo > /dev/tcp/minio/9000) 2>/dev/null; do
        sleep 2;
      done;
      echo 'MinIO is up! Proceeding with configuration.';
      /usr/bin/mc alias set minio_dev http://minio:9000 ${MINIO_ROOT_USER} ${MINIO_ROOT_PASSWORD};
      /usr/bin/mc mb minio_dev/cleimages --region=ap-northeast-1;
      /usr/bin/mc anonymous set public minio_dev/cleimages;
      exit 0;
      "

volumes:
  postgres_data:
  minio_dev_data:
